.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: linear-gradient(90deg, #1c1c1c, #252525, #1c1c1c);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.sign-in-button {
  background-color: #5a7d7c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: #4a6c6b;
}

/* Header Styles */
.header {
  position: fixed; /* Make it stick to the top */
  top: 0; /* Stick to top of page */
  left: 0;
  width: 100%; /* Stretch across the full width */
  z-index: 50; /* High z-index so it stays above everything */

  padding: 1rem 0;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start;
  border-bottom: 1px solid #18181b; /* zinc-800 */
  background-color: #18181b; /* Same as your site's background, or slightly transparent */
  text-align: left !important;
  padding-left: 25px !important;
}
