.carousel-section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.carousel-wrapper {
  /* position: relative; */
  margin-bottom: 0px;
}

.carousel-scroll-row {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  scroll-behavior: smooth;
  gap: 80px;
}

.carousel-scroll-row::-webkit-scrollbar {
  display: none;
}

.carousel-card-wrapper {
  flex: 0 0 auto;
  width: 180px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: rgba(10, 147, 150, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.scroll-button:hover {
  background: rgba(148, 210, 189, 0.8);
  color: black;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}
