@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #a3c1ad;
  background: linear-gradient(180deg, #242424, #141414);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5a7d7c;
  text-decoration: none;
  transition: color 0.25s ease;
}

a:hover {
  color: #4a6c6b;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg, #242424, #141414);
  color: #a3c1ad;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.25s;
}

button:hover {
  border-color: #5a7d7c;
  background-color: #252525;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Add this to your global CSS file */
.movie-recommendation-link {
  text-decoration: none;
}

.movie-recommendation-card {
  position: relative;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    z-index 0.3s ease;
}

.movie-recommendation-card:hover {
  transform: scale(1.4);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
